@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
	background: url(images/bg.jpg) no-repeat center center fixed;
background-size: cover;
}

* {
  box-sizing: inherit;
}

header {

}

header nav {
  background-color: black;
  padding: 1em 5em 1em 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


nav img {
  max-width: 5%;
  max-height: 10%
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-size: 1.7em;
}

nav ul li a {
  font-style: normal;
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

nav ul li a {
  letter-spacing: 0;
}

a:hover,
a:active {
  letter-spacing: 5px;
}

a:after,
a:before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  visibility: hidden;
}

a:hover:after,
a:hover:before {
  backface-visibility: hidden;
  border-color: white;
  transition: width 350ms ease-in-out;
  width: 70%;
  visibility: visible;
}

a:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

////////////////////////////////////////

.hero-banner img {
	width: 100%;
}
