@import url('https://fonts.googleapis.com/css2?family=Gill Sans Nova:wght@300;400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}




*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Gill Sans Nova', sans-serif;
  font-weight: 300;
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

header {

}

header nav {
  background-color: black;
  padding: 1em 5em 1em 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .nav-d {
	background-color: #FFB2B2;
}

header .nav-e {
	background-color: #C41010;
}

nav img {
  max-width: 5%;
  max-height: 10%
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-size: 1.7em;
}

nav ul li a {
  font-style: normal;
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

nav .ul-d li a {
  font-style: normal;
  color: black;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

nav ul li a {
  letter-spacing: 0;
}

.ul-i a:hover, .ul-d a:hover, .ul-e a:hover,
.ul-i a:active, .ul-d a:active, .ul-e a:hover {
  letter-spacing: 5px;
}

a:after,
a:before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  visibility: hidden;
}

.ul-i a:hover:after, .ul-d a:hover:after, .ul-e a:hover:after ,
.ul-i a:hover:before, .ul-d a:hover:before, .ul-e a:hover:before {
  backface-visibility: hidden;
  border-color: white;
  transition: width 350ms ease-in-out;
  width: 70%;
  visibility: visible;
}

.ul-d a:after,
.ul-d a:before {
  backface-visibility: hidden;
  border: 1px solid black;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  visibility: hidden;
}

.ul-d a:hover:after,
.ul-d a:hover:before {
  backface-visibility: hidden;
  border-color: black;
  transition: width 350ms ease-in-out;
  width: 70%;
  visibility: visible;
}

.ul-i a:hover:before, .ul-d a:hover:before, .ul-e a:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.hero-banner {
  width: 100%;
  height: 85vh;
  background-image: url('../images/banners/tbz-redbanner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
	background-color: black;
}

.dis-banner {
  width: 100%;
  height: 85vh;
  background-image: url('../images/banners/tbz_whisper.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
	background-color: pink;
}

.event-banner {
  width: 100%;
  height: 85vh;
  background-image: url('../images/banners/tbzbw.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
	background-color: black;
}

.about div img {
	width: 100%;
	border-radius: 20px;
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	padding: 5em 8em;

}

.members-info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2em;
	padding: 7em;
}

p {
	font-size: 1.25rem;
}

.members-info h4 {
	text-transform: uppercase;
}

.members-info div img {
	height: 55vh;
	border-radius: 20px;
}

.hero-banner h2, .dis-banner h2, .event-banner h2 {
	padding-bottom: 1.25em;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	transform: translate(20%, 95%);
	color: white;
	font-family: 'Mongoose', sans-serif;
	font-size: 15rem;
}



h2 {
	font-size: 4em;
	padding-bottom: .25em;
	font-family: 'Futura', sans-serif;
	color: #830202;
}

h3 {
	font-size: 4em;
	padding-bottom: .25em;
	font-family: 'Futura', sans-serif;
	color: #830202;
}

.dis h3 {
	color: #FF007B;
}

.albums h4 {
	color: #FF007B;
}

h4 {
	font-size: 2em;
	padding-bottom: 1.25em;
	font-family: 'Futura', sans-serif;
	color: #830202;
}

.footer {
background: #830202;
padding:1.25em 0em;
text-align:center;
}

.footer .row {
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color: white;
font-size:1.25em;
}

.copyright {
	color: white;
	font-size: .90em;
	padding-bottom: 2em;
	padding-top: 1.5em;
	letter-spacing: 1px;
}

.footer .row-icons {
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color: white;
font-size:1em;
}

.footer .row a {
text-decoration:none;
color: white;
transition:0.5s;
}

.footer .row-icons a {
text-decoration:none;
color: white;
transition:0.5s;
}

.footer .row a:hover {
color: red;
}

.footer .row-icons a:hover {
color: red;
}

.footer .row ul li {
display:inline-block;
margin: 0 1.5em;
}


footer .footer .row-icons {
	display: flex;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;
	font-size: 2.5em;
	gap: 2em;
}

/* DISCOGRAPHY CSS -----------------------------------------------------*/

.dis h3, .dis p {
	display: flex;
	justify-content: center;
}

.dis h3 {
	padding-top: 5rem;
}

.albums {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2em;
	padding: 7em;

}

.albums div img {
	height: 80%;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 5rem;
	transition: all 0.5s;
	scale:1;
}

.albums div img:hover {
	transition: all 0.5s;
  scale:1.05;
}

ol li {
	font-size: 1.25rem;
	border-bottom: .5px solid black;
	padding-right: 5rem;
	width: 15rem;
}


/* EVENT CSS -----------------------------------------------------*/
