@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

*, *::before, *::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
  }

* {
  box-sizing: inherit;
}

header {
  background-color: black;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
}
